<html>
    <head>
    </head>
    <body>
            <div class="bt">
                        <a routerLink="loantype">CALCULATE EMI</a>
            </div>
        <div class="main">
            
            <div class="left">
                   <h1>HOME LOAN</h1>
                    <a href="calcLoan.html"><img src="assets/img/home1.jpg" height="350" width="420" title="Loan" >&nbsp;&nbsp;&nbsp;</a>

            </div>
            <div class="middle">
                    <h1>Car Loan</h1><br>
                    <a href="calcLoan.html"><img src="assets/img/car1.jpg" height="350" width="420" title="Loan" >&nbsp;&nbsp;&nbsp;</a>
                
            </div>
            <div class="right">
                    <h1>Education Loan</h1><br>
                    <a href="calcLoan.html"><img src="assets/img/edu1.jpg" height="350" width="420" title="Loan" >&nbsp;&nbsp;&nbsp;</a>

            </div>
            <div class="right1">
                    <h1>Education Loan</h1><br>
                    <a href="calcLoan.html"><img src="assets/img/pl.jpg" height="350" width="420" title="Loan" >&nbsp;&nbsp;&nbsp;</a>
            </div><br>
        </div>
            <div class="text">
                <h2>Why Mittal's Bank?</h2>
                <ul>
                    <li>Tailor-made loan products by a team of<br>
                            financial experts.</li>
                            <li>Quick and Easy Approval of loans in less
                                    than 4 minutes</li>
                                    <li>Continuous tracking of Loan application.</li>
                                    <li>We don't relax till the disbursal of your loan.</li>
                                    <li>No hidden Charges.</li>
                </ul>
            </div>
            <hr>
            <div class=content>
                <h1>Product</h1>
                    <img src="assets/img/s1.png">
                    <p>Cutomised products as per your need.
                            Transparent and hassle free.
                            Paperless, 100% online.</p>
                            <hr>

            </div>
            <div class=content1>
                    <h1>Services</h1>
                        <img src="assets/img/s2.png">
                        <p>  Expert advice.
                                Best in class customer service.
                                Door step service.</p>
                                <hr>
    
                </div>
                <div class=content2>
                        <h1>Security    </h1>
                            <img src="assets/img/s3.png">
                            <p>Safe and Secure transactions.
                                    Dedicated Account Managers.
                                    Customised customer dashboard.</p>
                                    <hr>
        
                    </div>
           
     
    </body>
</html>