<html>
  <head>

  </head>
  <body>

    <marquee behavior=scroll direction="right" scrollamount="15" >MITTAL'S BANK OF INDIA</marquee>
    <h1>SERVICES</h1>
    <div>
    <div class="leftdiv">
        <h1>Loan Services</h1>
        <a routerLink="loan"><img src="assets/img/loan.jpg" height="350" width="400" title="Loan" ></a>
        
        <ul class="list">
                <li>Home Loan</li>
                <li>Education Loan</li>
                <li>Car Loan</li>
            </ul>
    </div>
    <div class="middlediv">
        <h1>Card Services</h1><br>
        <a href="CARD.html"><img src="assets/img/card.jpg" height="350" width="400" title="Card" ></a>
        <ul class="list">
                <li>Credit Card</li>
                <li>Debit Card</li>
                <li>VISA</li>
                <li>RUPAY</li>
            </ul>
    </div>
    <div class="middle1div">
            <h1>Account Services</h1><br>
            <a href="Account.html"><img src="assets/img/visa.jpg" height="350" width="400" title="Account" ></a>
            <ul class="list">
                    <li>SAVING ACCOUNT</li>
                    <li>CURRENT ACCOUNT</li>
                </ul>
        </div>
     <div class="rightdiv">
            <h1>Deposit Services</h1><br>
            <a href="Deposit.html"><img src="assets/img/money2.jpg" height="350" width="400" title="Deposit" ></a>
            <ul class="list">
                    <li>FIXED DEPOSITS</li>
                    <li>RECURRING DEPOSITS</li>
                </ul>
     </div>
 </div>
  </body>
</html>
